.App {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  background-image: linear-gradient(135deg, #8bf903d7 40%, #ffffff);
}
.menu{
  height: 400px;
  width: 400px;
  background-color: rgb(47, 254, 102);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  
} 


.menu input, button{
  height: 30px;
  width: 250px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
}

button{
  color: rgb(254, 254, 254);
  background-color: rgb(246, 125, 4);
}
button:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
button:active {
  box-shadow: 5px 5px 10px #36402b;
  /* background-color: white; */
  text-decoration: underline;
  /* border: 5px double green; */
}

.nextq{
  align-items: center;
  background-clip: padding-box;
  background-color: #046ca8;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.nextq:hover,
.nextq:focus {
  background-color: #057eee;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.nextq:hover {
  transform: translateY(-1px);
}

.nextq:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}